input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.js-au {
    display: block;
    margin: auto;
    background-color: #6950cb;
}

.card-widgets__widget__body {
    padding: 0;
}

.au_body {
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 15px;
    background-color: #F0EDFF;
}

.au_container__check {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.au_container__choice {
    display: none;
    flex-direction: column;
    gap: 15px;
}

.au_input__numb {
    padding: 0.875rem;
    font-size: 1rem;
    border: 1.5px solid #6950cb;
    border-radius: 0.5rem;
    box-shadow: 2.5px 3px 0 #6950cb;
    outline: none;
    transition: ease 0.25s;
}

.au_input__numb:focus {
    box-shadow: 5.5px 7px 0 #6950cb;
}

.au_button__check,
.au_button__discard,
.au_button__reward {
    padding: 0.875rem;
    background-color: #6950cb;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px;
}

.au_button__check:hover,
.au_button__discard:hover,
.au_button__reward:hover {
    background-color: #4A3A91;
}

h1 {
    font-size: 1.25rem;
    font-weight: 600;
    text-align: center;
    color: var(--primary);
}

.au-result {
    display: none;
    font-size: 18px;
    font-weight: 400;
}