<div class="au_body">
	<h1>amoCRM x UDS</h1>
	<input type="number" name="uds_code" placeholder="123456" max="6" required>
	<button class="au_form__button">Проверить</button>
	{% if points is defined %}
		<div class="au_form-result">Баллов:
			{{ points }}</div>
	{% endif %}
</div>
