<div class="au_body">
	<h1>amoCRM x UDS</h1>
	<div class="au_container__check">
		<input class="au_input__numb" type="text" name="uds_code" placeholder="123456" maxlength="6" pattern="\d{6}" required>
		<div class="au-result"></div>
		<button class="au_button__check">Проверить</button>
	</div>

	<div class="au_container__choice">
		<div class="au-result"></div>
		<button class="au_button__discard">Списать</button>
		<button class="au_button__reward">Копить</button>
	</div>
</div>
